@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

@font-face {
  font-family: 'AlphaCentauri Medium';
  font-style: normal;
  font-weight: normal;
  src: local('AlphaCentauri Medium'), url('../../fonts/Alphacentauri-MVY4p.woff') format('woff');
  }

*{
  font-family: 'Orbitron', sans-serif;
  
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "Roboto";
    list-style: none;
    box-sizing: border-box;
    background: #000;
    height:auto;    
}

   #cart{
    display:none;
    position: fixed;
    z-index:4;
    background-color:white;
    top: 11%;
    width: 35%;
    height: 240px;
    border-radius: 10px;
    left: 80%;
    transform: translateX(-50%);
    -webkit-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.75);
    cursor: url("../../images/landingPageAssets/night-blue-cursor.ico"), default;
  }
  
  #cart .heading-cart {
      display: flex;
      justify-content: center;
    align-items: center;
    height: 20%;
    border-bottom: solid 1px rgb(214, 210, 210);
    
    font-weight: bold;
  }
  .cart-product{
    display: flex;
    align-items: center;
  }

  #cart .content-cart {
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #cart .content-cart p{
    color:hsl(219, 9%, 45%);
  }
  
  #cart .content-cart .product {
    width: 90%;
    height: 80%;
    display: none;
    flex-direction: column;
    justify-content: center; 
  }
  
  #cart .content-cart .product img{
    width: 60px;
    height:60px;
    border-radius: 8px;
    margin-right: 15px;
  }
  
  #cart .content-cart .product .product-meta {
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin:15px 0 15px 0; 
  }
  
  #cart .content-cart .product .product-meta button {
  border: none;
  background-color:transparent; 
  }
  
.container .modal{
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    position: relative;
  }
.modal{
    display: none;
}
.carousel{
    height: 100%;
    width:100%;
    display: flex;
    position: relative;
 
    
}
.carousel .controls{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 15px;
    z-index: 99;
}
.carousel .controls button {
    border: none;
    border-radius:50%;
    outline: none;
    background-color:white;
    width: 40px;
    height: 40px;
    padding: 0;
    background-repeat: no-repeat;
    background-position: center;
}
#next.disabled{
    background-color: rgba(185, 183, 183, 0.815);
}
#prev.disabled{
    background-color: rgba(185, 183, 183, 0.815);
}
.carousel .controls button:nth-child(2) {
    background-image: url('../../images/commonProductPageAssets/icon-next.svg');
    
}
.carousel .controls button:nth-child(1) {
    background-image: url('../../images/commonProductPageAssets/icon-previous.svg')
}
.carousel-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: absolute;
    left: 0;
    transition: left 0.5s ease-in-out;

    
   
}
.carousel-container  img{
    height: 100%;
    width: 100%;
    object-fit: cover;

    
}
.content-section-1{
    height: 45%;
}
.content-section-2{
    height: 440px;
   

}
.content{
    margin: -25px 10px 0 20px;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.content small{
    text-transform: uppercase;
    display: block;
    letter-spacing:0.1rem;
    color:#1AA7EC;
    font-weight: bolder;
    margin-bottom: 10px;
    font-size: 0.7rem;
}
.content h1{
    margin: 10px 0 5px 0;

    font-size: 1.8rem;
}
.content #description{
    color: #ccc;
}
.price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: -15px 10px 10px 0;
    margin-bottom: 30px;

}
.price .grp{
    display: flex;
    width: 45%;
    justify-content: space-between;
    align-items: center;
    
}
.price #new-price{
    font-weight: 700;
    font-size: 1.7rem;
    color: #fff;
}
.price #promo{
    background-color: #ccc;
    color:#000;
    font-weight:700;
    padding: 5px;
    border-radius: 10px;
}
.price #old-price{
    color: #ccc;
    margin: 0 0;
    font-size:1rem;
    font-weight: bolder;
    text-decoration: line-through;
}
.number-input{
    width:90%;
    height:50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    
    
}
.container{
    
    height: 75%;
}

.number-input input{
    width:100%;
    height: 100%;
    border: none;
    background-color: hsl(223, 64%, 98%);
    padding: 0 2px;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 700;
    outline: none;
}
.number-input #minus, .number-input #plus{
    color: #1AA7EC;
    font-size: 1.8rem;
    font-weight:700;
    background-color:  hsl(223, 64%, 98%);
    height: 100%;
    border: none;
    cursor: pointer;    
}
.number-input #plus{
    border-radius: 0 8px 8px 0;
}
.number-input #minus{
    border-radius: 8px 0 0 8px;
}
.btn{
    border: none;
    outline: none;
    width: 90%;
    background-color: #1AA7EC;
    color: white;
    padding: 18px 0;
    border-radius: 8px;
    font-size:0.9rem;
    font-weight: 700;
    font-family:'Kumbh Sans', sans-serif;
    margin-top: 10px;
    cursor: pointer;
    
}

.checkout-btn{
width:80%;
margin: 0 0 10% 0;
text-decoration: none;
font-family: 'Orbitron', sans-serif;
}
.checkout-btn a{
    text-decoration: none;
    color: #fff;
    }
#add-to-cart-btn{
 
    display: flex;
    justify-content:center;
    align-items:center;
    margin: 0 auto;
    font-family: 'Orbitron', sans-serif;
    gap: 10px;
    margin-top: 15px;

}

.slideshow{
    display: none;
}


@media screen and (min-width: 900px){
    .container{
        display: flex;

        width: 90%;
        justify-content: space-between;
        min-width: 900px;
        margin: 100px auto 70px auto;
        align-items: center;
    }
    .carousel{
        display: none;
    }
    #menu{
        display: none;
    }

    .content-section-1{
        width: 540px;
    height: 90%;
    max-height: 760px;
    margin: auto;

    }
    .content-section-2{
        width: 45%;
    }
    .grp{
        gap: 10px;
    margin-bottom: 5px;
    }
    .price{
        width: 10%;
        flex-wrap: wrap;
    }
    .content h1 {
        color: #fff;
        font-size: 3vw;
    }
    .content small {
        font-size: 1vw;
    }
    .content #description{
        font-size:1.4vw
    }
    .form-group{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }
    .number-input{
        width: 30%;
    }
    #add-to-cart-btn{
        width: 60%;
        height:50px
    }
    .nav-bar{
        margin: 0;
        padding: 50px;
        border-bottom: solid 2px   rgb(245, 245, 245);
    }
    .navbar-desktop{
        display:block;
        width: 50%;
        min-width: 385px;
    }
    .navbar-desktop ul{
        display:flex;
        justify-content: space-evenly;
    }
    .cart-profile{
        width: 10%;
    }
    #profile{
        width: 40px;
    }
    .flex-nav{
        display: flex;
    width: 80%;
    align-items: center;
    }
    .slideshow{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }
    .image-container{
        width: 100%;
        height:75%;
        cursor: pointer;
        display: flex;
        justify-content: center;
    }
    .image-container img{
        width: 70%;
        height: 70%;
        border-radius: 15px;
        object-fit: cover;
        position: relative;
    }
    .image-container #main-img{
         z-index: 1;
    }
    .image-container #mag-glass{
        
        height: 50px;
        width:50px;
        z-index: 3;
        position:absolute;
        margin-top: 12%;
        
    }
    
    .parent-thumbnails-container{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .thumbnails-container{
        width: 70%;
        height: 18%;
        display: flex;

        
    }
    .thumbnails-container ul{
        padding:0;
        display: flex;
        width: 100%;
        justify-content:space-between;
    }
    .thumbnail-item{
        position: relative;
        width: 100%;
        height:100%;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .thumbnail-item ul li{
        width: 20%;
    }
    .thumbnails-container img{
        border-radius: 10px;
        width: 90%;
        height: 90%;
        object-fit: cover;
        cursor: pointer;
        background-color: hsl(223, 64%, 98%);

    }
    .img-mask{
        
        position: absolute;
        display: block;
        width: 90%;
        height: 90%;
        background-color: hsl(25deg 100% 94% / 58%);
        border: solid 2px #1AA7EC;
        border-radius: 10px;
    }
    #cart{


        top: 90px;
        left:80%;
        min-width: 330px;
        width:30%;
        height: 40%;
      
    }
    .navbar-desktop ul li a{
        padding: 40px 0;
      
    }
    
    #cart .heading-cart h3{
        margin: 0;
    }
    #cart-btn{
        cursor: pointer;
    }
    #delete{
        cursor: pointer;
    }
    .btn:hover{
      background-color: #1D2951;

    }
    #profile:hover{
        transform:scale(1.1);
        border: 2px solid hsl(26, 100%, 55%);
        border-radius: 50%;
        cursor: pointer;
    }
    #plus:hover, #minus:hover{
      color: #1D2951;
    }
    .navbar-desktop ul li a:hover{
        border-bottom: 2px solid hsl(26, 100%, 55%); ;
    }
    .modal{
        display: none;
        align-items: center;
        justify-content: center;
        position: absolute;
        z-index: 1000;
        background-color: rgba(0, 0, 0, 0.637);
        top: 0;
        left: 0;
        width: 100vw;
        height: 100%;
    }
    .modal-content{
   
        
    height: 90vh;

        display: flex;
        flex-direction: column;
        justify-content : space-between;
    }
    .modal-img-container{
        height: 75%;
   
        position: relative;
    }
     #close-modal{
            align-self: right;
            background-color:transparent;
            margin-left: auto;
            width: 25px;
            height:25px;
            border: none;
            color: white;
            font-size: 1.3rem;
            font-weight: 700;
            cursor: pointer;
    }
    #close-modal:hover{
        color: #1AA7EC;
    }
    .modal-img-container .modal-controls{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%);
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 110%;
    }
    .modal-controls button{
        display:flex;
        justify-content: center;
        align-items:center;
        cursor: pointer;
        border: none;
        border-radius: 50%;
        outline: none;
        background-color: white;
        width: 50px;
        height: 50px;
        padding: 0;
        background-repeat: no-repeat;
        background-position: center;
    }


    .modal-img-container img{
        height:100%;
        width: 100%;
        object-fit: cover;
        border-radius: 15px;
    }
    .modal-thumbs{
        
        height:12%
    }
    .modal-thumbs ul {
        display: flex;
        justify-content: space-around;
        height:100%;
        padding: 0;
        width: 100%;
    }
    .modal-thumbs ul li{
        height:100%;
        width: 15%;
    }
    .modal-thumbs .modal-thumbs-item {
        position: relative;
      
        height: 100%;
    }
    .modal-thumbs .modal-thumbs-item img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        cursor:pointer;
    }
    .modal-img-mask {
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        background-color: hsl(25deg 100% 94% / 58%);
        border: solid 2px #1AA7EC;
        border-radius: 10px;
    }
 
}

  .wrapper{
      position: absolute;
    display: flex;
    flex-flow: column wrap;
    height:100%;
    width: 100%;
    overflow: hidden;
    z-index: -1;
  }


.order_placed_modal {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    z-index: 5;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(77, 77, 77, .7);
    transition: all .4s;
  }
  
  .order_placed_modal:target {
    visibility: visible;
    opacity: 1;
  }
  
  .order_placed_modal_content {
    border-radius: 4px;
    position: relative;
    width: 500px;
    max-width: 90%;
    background: #fff;
    padding: 1em 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
  }
 #success_tick{
    height: 20%;
    width: 20%;
 }
  .order_placed_modal_close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #585858;
    text-decoration: none;
  }